.header{
  color:fuchsia;
  text-align: center;
  font-size:xx-large;
  margin-bottom: 10px;
}

.details{
  display: flex;
  justify-content: center; /* This will center the children horizontally */
  flex-direction: column; /* Align children (form elements) vertically */
  align-items: center; 
  border: 2px #B372FF solid ;
  border-radius: 5px;
  margin-left: 37%;
  margin-right: 37%;
}


input[type="text"]{
  width: 250px;
  margin: 10px;
}
.card{
  
  margin-top: 30px;
  padding: 20px;
  background-color: #232323;
  margin-left: 33%;
  margin-right: 33%;
  border: 2px #B372FF solid ;
}
.card p {
  display: flex;
  justify-content: center;
  color: #B372FF;
}

.card p b{
  color: fuchsia;
}

.foot{
  color: fuchsia;
  display: flex;
  justify-content: center;
}
